<%= render 'pages/home' unless user_signed_in? %>

<p>Available people:</p>
<ul>
  <% @people.each do |person| %>
    <li><%= link_to "#{person.name}", person %></li>
  <% end %>
</ul>
<br>

<%= link_to '+ Add New Person', new_person_path %>
