/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'masonry/transitions'
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);

$body-bg:      				 							#ecf0f1;
$font-family-sans-serif: 						'Dosis', sans-serif;
$navbar-height:											45px;
$navbar-default-bg:    							#2c3e50; 
$navbar-default-link-color: 				white;
$navbar-default-brand-color:				#e74c3c;
$navbar-default-link-hover-color:		#95a5a6;
$jumbotron-bg: 											#ecf0f1;

.center {
	text-align: center;
}

.navbar-brand {
	font-family: 'Ubuntu Condensed', Verdana, sans-serif;
}

#pics {
	margin: 0 auto;
}

.box {
	margin: 5px;
	width: 200px;
}

.box-ig {
	margin: 5px;
	width: 300px;
}

.box img {
	width: 100%;
}